.card-image {
  margin-top: 20px;
  width: 18rem;
  height: 26rem;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .card-image {
    margin-left: auto;
    margin-right: auto;
  }
}
